@mixin color-invert {
  filter: invert(100%);
}

@mixin small-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

@mixin medium-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

@mixin large-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

@mixin nom-menu {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

@mixin assaisonnement-menu {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

@mixin prix-menu {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 15px;
}
