$purple: #9356DC;
$blue: #89C8FA;
$blue2: #003A68;
$green: #99E2D0;
$greenfont: #008766;
$greenbar: #008766;
$greenbox: #99E2D0;
$white: #F3F3F3;
$purewhite: #FFF;
$grey: #7e7e7e;
$grey2: #EAEAEA;
$black: #000000;